@import 'variables';
@import 'layout';

html {
  font-size: 100%;
}

#busolinea-app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  color: #333333;
}
