.route {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  padding: 0.25rem 0;
  header {
    display: flex;
    flex-flow: row nowrap;
    button {
      border: none;
      background: transparent;
      transition: transform 150ms ease-in-out;
      cursor: pointer;
      outline: none;
    }
  }
  aside {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    margin-left: 2rem;
    line-height: 1.5rem;
  }
  &--details {
    header button {
      transform: rotate(90deg);
    }
    aside {
      max-height: 100%;
      opacity: 1;
    }
  }
}
