#header {
  display: flex;
  box-sizing: border-box;
  flex-flow: column nowrap;
  flex: 0 0 2rem;
  line-height: 2rem;
  text-align: center;
  font-weight: bold;
  background-color: #72A168;
  box-shadow: 1px 1px 2px #000000;
  z-index: 1000;
}
