@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.routes-list {
  display: block;
  box-sizing: border-box;
  border: 1px solid #555555;
  padding: 1rem;

  header {
    h4 {
      margin-top: 0;
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
      }
    }
  }

  &.loading {
    header h4 {
      button {
        animation: rotation 1s infinite;
      }
    }
  }
}
